<!--empieza la navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark" style="position: fixed;
    z-index: 100;" ;>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#nos">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Contacto
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#mapita">Vistianos!</a></li>
                        <li><a class="dropdown-item" href="#contacto">Contactanos!</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/login">Ingresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--termina la navbar-->


<!--primer contenedor-->
<div class="container-fluid">
    <div id="home" class="row align-items-center tapa">
        <div class="col-lg-3 offset-lg-2" style="background: rgba(0,0,0,0.5);">

            <h1>Arcade House</h1>
            <h2>Todo para Gamers</h2>

        </div>
    </div>
  
<!--cierra primer contenedor-->

<!--abre grid-->
<div class="row partegrid">
    <div class="col-8">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active testimonios">
                    <img src="/images/palworld.jpg" class="d-block w-100 marcofoto" alt="...">
                    <h5 class="texto-superpuesto">El colorido juego Palworld del estudio Pocketpair se convirtió en un
                        gran éxito casi de inmediato, y los desarrolladores presumieron de dos millones de copias
                        vendidas en las primeras 24 horas.</h5>
                </div>
                <div class="carousel-item testimonios">
                    <img src="/images/arcaderuleta2.jpg" class="d-block w-100 marcofoto" alt="...">
                    <h5 class="texto-superpuesto">En la creciente escena de las consolas de emulación, la R36s ha
                        emergido como una opción económica que promete emular hasta la PSP, todo por un precio inferior
                        a los 50 euros. Este análisis detallado buscará explorar a fondo las características y el
                        rendimiento de esta consola china.</h5>
                </div>
                <div class="carousel-item testimonios">
                    <img src="/images/arcaderuleta.jpg" class="d-block w-100 marcofoto" alt="...">
                    <h5 class="texto-superpuesto">En la vasta y enigmática región de Kanto, donde se encuentran ciudades
                        vibrantes, montañas majestuosas y océanos inexplorados, existen secretos ocultos y leyendas que
                        han cautivado a los entrenadores de Pokémon durante décadas. Entre estos misterios, hay uno que
                        destaca por su rareza y fama, y ese es el Pokémon conocido como MissingNo.</h5>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próxima</span>
            </button>
        </div>
    </div>

    <!--Novedades-->

    <div class="col-4" style="background-color: rgb(228, 212, 212);">
        <div id="novedades" class="scroll-section">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="/novedades" target="_blank" data-bs-toggle="modal" data-bs-target="#modalNovedades"><img
                            src="/images/arcade1.jpg">
                        Nuevas consolas</a></li>
                <li><a href="/torneo" target="_blank" data-bs-toggle="modal" data-bs-target="#modalTorneo"><img
                            src="/images/arcade2.jpg">
                        Próximo torneo</a></li>
                {{#each listado}}
                <li><a href="javascript:void(0)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{id}}">{{{imagen}}}
                        {{titulo}}</a></li>
                {{/each}}
            </ul>

        </div>

        <!-- Modal torneo -->

        <div class="modal fade" id="modalTorneo" tabindex="-1" aria-labelledby="modalTorneoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTorneoLabel">Próximos Torneos!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Nuestro próximo torneo comienza en Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Earum pariatur nobis dolore autem officiis vitae cupiditate sunt, quam magni, voluptatem
                            adipisci delectus eaque laboriosam repellat exercitationem? Deserunt labore consequuntur
                            quasi. No te lo pierdas!
                        </h6>
                    </div>
                    <div class="modal-footer">
                        <a href="/torneo" target="_blank" class="btn btn-primary">Torneo</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div> <!--  termina Modal torneo -->

        <!-- Modal Novedades -->

        <div class="modal fade" id="modalNovedades" tabindex="-1" aria-labelledby="modalNovedadesLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalNovedadesLabel">Nuevas Consolas!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Ya tenemos nuestras nuevas consolas para Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsum velit esse facere nihil fugit atque dolorum, possimus, iure inventore magnam quo
                            quidem, blanditiis aperiam at! Vitae facilis veritatis dolorum deserunt? Conocelas!
                        </h6>
                    </div>
                    <div class="modal-footer">
                        <a href="/novedades" target="_blank" class="btn btn-primary">Nuevas consolas</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div> <!--  termina Modal Novedades -->



        <!-- Modal normal-->
        {{#each listado}}
        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>{{subtitulo}}</h4>
                        {{{imagen}}}
                        <p>{{cuerpo}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div> <!-- acá termina el modal y empieza testimonios-->
        {{/each}}
    </div>

</div>



    <!-- empieza el div Nosotros-->


<div id="nos" class="row nosotros scroll-section" style="background-color: rgb(210, 211, 211);">
    <h1>Nosotros</h1>

    <div class="row justify-content-center">
        <!-- acá las imágenes de Nosotros -->

        <div class="card col-2" style="margin: 10px;">
            <img src="/images/foto1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</h4>
            </div>
        </div>
         <div class="card col-2" style="margin: 10px; ">
            <img src="/images/foto2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</h4>
            </div>
        </div>

        <div class="card col-2" style="margin: 10px;">
            <img src="/images/foto3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</h4>
            </div>
        </div>

        <div class="card col-2" style="margin: 10px;">
            <img src="/images/foto4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</h4>
            </div>
        </div>
       
    
         <div class="card col-2" style="margin: 10px;">
            <img src="/images/modernos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</h4>
            </div>
        </div>


    </div>
</div>
<!--termina div nosotros -->


<div id="contacto" class="row mb-3 nosotros scroll-section" style="background-color: rgb(187, 141, 141);">
    <!-- Formulario -->
    <form class="col-lg-4 col-md-6 col-sm-12 mb-3" style="background-color: rgb(213, 186, 186);" action="/" method="post">
        <h2>Contactanos!</h2>
        <h4>Dejanos tus datos y nos pondremos en contacto</h4>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre" aria-label="First name" name="nombre">
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu apellido" aria-label="Last name" name="apellido">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Tu Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com" name="email">
        </div>

        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-3" style="margin-left: 10px;">Enviar</button>
        <h3 style="justify-content: center;">{{message}}</h3>
    </form>

    <!-- Div del gif -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <img src="/images/214388.gif" alt="" style="width: 100%; height: 100%;">
    </div>

    <!-- Div del mapa -->
    <div id="mapita" class="col-lg-4 col-md-12 col-sm-12 scroll-section" style="background-color: rgb(142, 83, 83);">
        <h1>Ubicacion</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.2280032744125!2d-58.50351797512972!3d-34.58136484103359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb64c098b0e67%3A0x4f28c3a2b8ffefe4!2sVilla%20Pueyrred%C3%B3n%2C%20CABA%2C%20Argentina!5e0!3m2!1ses!2sdk!4v1705339198512!5m2!1ses!2sdk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>















<footer class="text-center">Sitio creado por Geo</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>